*{
    margin: 0 auto;
}

a:link{color: #4287f5}
a:visited{color: #a53ab5}
a:hover{color: #070773; font-weight: bold;}

.center {
    margin: auto;
    min-width: min-content;
    max-width: max-content;
    width: 25%;
    padding: 10px;
}

.box {
    height: 390px;
}

.projpic {
    float: left;
    border: 5px solid #7b2fbd;
    z-index: 2;
}

body {
    min-width: 450px;
}

h1 {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#3fc2da;
    font-size: 0.9rem;
    z-index: 1;
}

#headshot {
    position: relative;
    top: 50px;
}

#info {
    position: relative;
    top: 50px;
    width: 60%;
}

#menu {
    position: relative;
    top: 60px;
    line-height: 250%;
    font-size: 1.3rem;
}